<div class="container-wrapper">
  <mat-sidenav-container class="app-drawer-container" fullscreen>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" fullscreen>
      <div class="list-wrapper">
        <mat-nav-list>
          @for (nav of navList; track nav) {
          <a mat-list-item routerLink=".">{{nav}}</a>
          <mat-divider></mat-divider>
          }
        </mat-nav-list>
        <div class="list-divider"></div>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item class="logout-item" (click)="logout()">Logout</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
