.btn {
  border-radius: 8px;
  padding: 10px 20px;
  line-height: 1;
  border: 0;
  &:not(disabled) {
    cursor: pointer;
  }
  &:hover {
    transition: 0.5s all;
  }
  &-primary {
    color: white;
    background-color: $primary-500;
    &:hover {
      background-color: $primary-400;
    }
  }
  &-secondary {
    background-color: $secondary;
  }
  &-error {
    background-color: $error-500;
    color: white;
    &:hover {
      background-color: $error-400;
    }
  }
  &-warning {
    background-color: $warning-500;
  }
  &-info {
    background-color: $primary-600;
  }

  &-block {
    width: 100%;
    display: block;
  }
}
