.btn {
  border-radius: 8px;
  padding: 10px 20px;
  line-height: 1;
  border: 0;
  &:not(disabled) {
    cursor: pointer;
  }
  &-primary {
    color: $primary-100;
    background-color: $primary-500;
    &:hover {
      background-color: $primary-200;
      transition: 0.5s all;
    }
  }
  &-secondary {
    background-color: $secondary;
  }
  &-error {
    background-color: $error-500;
  }
  &-warning {
    background-color: $warning-500;
  }
  &-info {
    background-color: $primary-600;
  }

  &-block {
    width: 100%;
    display: block;
  }
}
