.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -70px;
  .wrap {
    max-width: 400px;
    width: 100%;
    padding: 10px;
  }
  .form-group:nth-of-type(n-1) {
    margin-bottom: 10px;
  }
}
.title > h1 {
  font-size: 2.5rem;
  text-align: center;
}
